body {
    background-color: #242424;
    height: 100%;
    color: #ffffff;
    font-family: monospace;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 12pt;
}

.discord {
    font-size: 2vb;
    color: #c4c4c4;
}

.title {
    font-size: 6vw;
    color: #e5e5e5;
}

.links {
    color: darkgray;
    font-size: 25px;
}

.footer {
    position: absolute;
    left: 50%;
    top: 99%;
    transform: translate(-50%, -99%);
}
